@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$dark: #0d3776;
$dark2: #205599;
$dark-gray: #20395a;
$blue: #7296c5;
$green: #bfedd9;
$red: #edbfbf;
$yellow: #ede6bf;
$light-blue: #98c1d9;
$gray87: #e5e5e5de;
$gray-line: #b7b7b780;

$green2: #18573d;
$red2: #571818;
$yellow2: #72611d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-70 {
    color: #f2f2f2e5;
    font-weight: 500;
    text-transform: uppercase;
}

hr {
    border: 1px solid rgba(183, 183, 183, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 5px;
    height: 7em;
    width: 7em;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
        transform: scale(1.04);
    }

    span {
        font-weight: 600;
        font-size: 1.3em;
    }

    p {
        font-size: 0.85em;
        font-weight: 500;
    }
}

.blue,
.En {
    background-color: $blue;
    color: $dark;
}

.green,
.Resuelto {
    background-color: $green;
    color: $green2;
}

.red,
.Urgente {
    background-color: $red;
    color: $red2;
}

.yellow,
.Pendiente {
    background-color: $yellow;
    color: $yellow2;
}

.light-blue {
    background-color: $light-blue;
    color: $dark;
}

.estado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    width: 6em;
    padding: 4px 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    padding: 12px 16px;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.dark2 {
    background-color: $dark2;
    &:hover {
        background-color: $dark;
    }
}

.project-selected {
    color: $green;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    width: 94%;
    position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: $dark;
    width: 22em;

    .sidebar-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        padding: 1em 0;
        position: relative;

        .search {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $gray87;
            justify-content: space-between;
            border-radius: 12px;
            padding: 0 10px;

            input {
                width: 100%;
                padding: 16px 0;
                border-radius: 12px;
                border: 0;
                outline: none;
                background-color: transparent;
                font-size: 0.9em;

                &::placeholder {
                    color: $dark;
                }
            }

            i {
                color: $dark;
            }
        }

        .projects {
            display: flex;
            flex-direction: column;
            color: #fff;
            margin-top: 2em;

            .project-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                #add-project {
                    margin-right: 10px;
                    font-size: 1.1em;
                    cursor: pointer;
                }
            }

            .project-list {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 0.8em;
                cursor: pointer;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8em;
                    list-style: none;
                }

                li {
                    transition: ease-in-out 0.2s;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        #form-bug {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            gap: 1em;

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                label {
                    color: #fff;
                    font-weight: 500;
                }
            }
        }

        .logo-side {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 3em;

            img {
                height: 1.8em;
            }
        }
    }
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr 10fr !important;
    grid-template-areas:
        "nav header"
        "nav main";
    min-height: 100vh;
}

header {
    grid-area: header;
    @extend .justify-center;
    height: 100% !important;

    #header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: $dark;
        }
    }
}

main {
    grid-area: main;
    height: 100%;
    @extend .justify-center;
    position: relative;
}

.container {
    .results {
        display: grid;
        grid-template-columns: repeat(auto-fill, 7em);
        gap: 1em;
        margin-top: 1em;
    }

    table {
        width: 100%;
        margin-top: 1em;
        border-top: 2px solid rgba(183, 183, 183, 0.5);
        padding-top: 1em;

        thead {
            color: $dark-gray;
            text-transform: uppercase;
            font-size: 0.95em;

            #bug-cell {
                min-width: 24em;
            }

            th {
                text-align: start;

                #sort-date {
                    margin-left: 5px;
                    cursor: pointer;
                    font-size: 1.1em;
                    transition: 0.2s;

                    &:hover {
                        color: $dark2;
                    }
                }

            }
        }

        tbody {
            margin-top: 1em;
            td {
                border-bottom: 2px solid rgba(183, 183, 183, 0.5);
                padding: 20px 1.5em 20px 0;
            }

            .bug-name {
                font-weight: 500;
            }

            .date {
                font-size: 0.9em;
                font-weight: 500;
                color: $dark-gray;
            }

            .responsable {
                color: $dark-gray;
            }

            .warning-h3 {
                font-weight: 500;
                margin-top: 1.5em;
                font-size: 1em;
                color: $dark-gray;

                .warning-btn {
                    text-decoration: underline 2px;
                    color: $green2;
                    background-color: $green;
                    padding: 2px 8px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal {
    display: none;
    transition: opacity 0.3s ease!important;

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        filter: drop-shadow(0px 15px 43px rgba(0, 0, 0, 0.3));

        p {
            color: rgb(131, 3, 3);
            font-weight: 500;
        }

        #form-bug {
            position: absolute;
            background-color: #fff;
            padding: 1em 0.5em;
            display: flex;
            flex-direction: column;
            gap: 1.2em;
            width: 25em;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            z-index: 101;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 90%;
                gap: 5px;

                label {
                    font-weight: 500;
                }

                input {
                    border: none;
                    border: 2px solid #c2c2c2;
                    padding: 8px;
                    border-radius: 8px;
                    font-family: roboto;

                    &:focus {
                        border: 2px solid $dark!important;
                        outline: none;
                    }
                }

                select {
                    border: none;
                    padding: 8px;
                    border-radius: 8px;
                    background-color: $gray87;
                }
            }

            .btn-row {
                display: flex;
                justify-content: flex-end;
                width: 90%;
                gap: 5px;

                button {
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    border-radius: 8px;

                    &.primary {
                        background-color: $dark;
                        color: #fff;
                    }

                    &.secondary {
                        background-color: rgb(238, 236, 236);
                        color: #000;
                    }
                }
            }
        }
    }
}
