@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-70 {
  color: #f2f2f2e5;
  font-weight: 500;
  text-transform: uppercase;
}

hr {
  border: 1px solid rgba(183, 183, 183, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  gap: 5px;
  height: 7em;
  width: 7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.result:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.result span {
  font-weight: 600;
  font-size: 1.3em;
}

.result p {
  font-size: 0.85em;
  font-weight: 500;
}

.blue,
.En {
  background-color: #7296c5;
  color: #0d3776;
}

.green,
.Resuelto {
  background-color: #bfedd9;
  color: #18573d;
}

.red,
.Urgente {
  background-color: #edbfbf;
  color: #571818;
}

.yellow,
.Pendiente {
  background-color: #ede6bf;
  color: #72611d;
}

.light-blue {
  background-color: #98c1d9;
  color: #0d3776;
}

.estado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  width: 6em;
  padding: 4px 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn {
  padding: 12px 16px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.dark2 {
  background-color: #205599;
}

.dark2:hover {
  background-color: #0d3776;
}

.dark2.dark {
  background-color: #4992FF;
}

.project-selected {
  color: #57ddf5;
  font-weight: 600;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 94%;
  position: relative;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center, header, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0d3776;
  width: 22em;
}

nav.dark {
  background-color: #003459;
}

nav .sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  height: 100%;
  padding: 1em 0;
  position: relative;
}

nav .sidebar-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e5e5e5de;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  padding: 0 10px;
}

nav .sidebar-container .search input {
  width: 100%;
  padding: 16px 0;
  border-radius: 12px;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 0.9em;
}

nav .sidebar-container .search input::-webkit-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input:-ms-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input::-ms-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input::placeholder {
  color: #0d3776;
}

nav .sidebar-container .search i {
  color: #0d3776;
}

nav .sidebar-container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-top: 2em;
}

nav .sidebar-container .projects .project-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .sidebar-container .projects .project-header #plus {
  margin-right: 10px;
  font-size: 1.1em;
  cursor: pointer;
}

nav .sidebar-container .projects .project-list {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 1.2em;
  cursor: pointer;
}

nav .sidebar-container .projects .project-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  list-style: none;
}

nav .sidebar-container .projects .project-list li {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

nav .sidebar-container #form-bug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  gap: 1em;
}

nav .sidebar-container #form-bug .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

nav .sidebar-container #form-bug .form-group label {
  color: #fff;
  font-weight: 500;
}

nav .sidebar-container .switch-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 7em;
  /* Rounded sliders */
}

nav .sidebar-container .switch-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

nav .sidebar-container .switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .sidebar-container .switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gainsboro;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .sidebar-container .switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .sidebar-container .switch-container input:checked + .slider {
  background-color: #000000;
}

nav .sidebar-container .switch-container input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #000000;
          box-shadow: 0 0 1px #000000;
}

nav .sidebar-container .switch-container input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

nav .sidebar-container .switch-container .slider.round {
  border-radius: 34px;
}

nav .sidebar-container .switch-container .slider.round:before {
  border-radius: 50%;
}

nav .sidebar-container .logo-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 3em;
}

nav .sidebar-container .logo-side img {
  height: 1.8em;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: 1fr 10fr !important;
      grid-template-rows: 1fr 10fr !important;
      grid-template-areas: "nav header" "nav main";
  min-height: 100vh;
}

body.dark {
  background-color: #01172B;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  height: 100% !important;
}

header #header-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-container h1 {
  color: #0d3776;
}

header #header-container h1.dark {
  color: #fff;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  height: 100%;
  position: relative;
}

.container .results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (7em)[auto-fill];
      grid-template-columns: repeat(auto-fill, 7em);
  gap: 1em;
  margin-top: 1em;
}

.container table {
  width: 100%;
  margin-top: 1em;
  border-top: 2px solid rgba(183, 183, 183, 0.5);
  padding-top: 1em;
  border-collapse: collapse;
}

.container table thead {
  color: #20395a;
  text-transform: uppercase;
  font-size: 0.95em;
}

.container table thead.dark {
  color: #4992FF;
}

.container table thead #bug-cell {
  min-width: 24em;
}

.container table thead th {
  text-align: start;
}

.container table thead th #sort-date {
  margin-left: 5px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container table thead th #sort-date:hover {
  color: #205599;
}

.container table thead #due-header {
  padding-right: 1em;
}

.container table tbody {
  margin-top: 2em;
}

.container table tbody.dark {
  color: #f8f8f8;
}

.container table tbody tr {
  -webkit-transition: 0;
  transition: 0;
  cursor: move;
}

.container table tbody tr.dragged {
  opacity: 0;
}

.container table tbody td {
  border-bottom: 2px solid rgba(183, 183, 183, 0.5);
  padding: 20px 1.5em 20px 0;
}

.container table tbody select {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #e5e5e5de;
}

.container table tbody #new-status {
  width: 6.5em;
  height: 2em;
}

.container table tbody .bug-name {
  font-weight: 500;
}

.container table tbody .date {
  font-size: 0.9em;
  font-weight: 500;
  color: #20395a;
}

.container table tbody .date.dark {
  color: #f8f8f8;
}

.container table tbody #trash {
  font-size: 1em;
  color: #7c7c7c;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.container table tbody #trash:hover {
  color: #bd0000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.container table tbody .responsable {
  color: #20395a;
}

.container table tbody .responsable.dark {
  color: #f8f8f8;
}

.container table tbody .warning-h3 {
  font-weight: 500;
  margin-top: 1.5em;
  font-size: 1em;
  color: #20395a;
}

.container table tbody .warning-h3 .warning-btn {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  color: #18573d;
  background-color: #bfedd9;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  -webkit-transition: opacity 0.3s ease !important;
  transition: opacity 0.3s ease !important;
}

.modal .fa-times {
  position: absolute;
  top: 0.8em;
  right: 1.8em;
  font-size: 1.2em;
  color: #7c7c7c;
  cursor: pointer;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-filter: drop-shadow(0px 15px 43px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 15px 43px rgba(0, 0, 0, 0.3));
}

.modal.active p {
  color: #830303;
  font-weight: 500;
}

.modal.active .form {
  position: absolute;
  background-color: #fff;
  padding: 1em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  width: 25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  z-index: 101;
}

.modal.active .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 5px;
}

.modal.active .form .form-group label {
  font-weight: 500;
}

.modal.active .form .form-group input {
  border: none;
  border: 2px solid #c2c2c2;
  padding: 8px;
  border-radius: 8px;
  font-family: roboto;
}

.modal.active .form .form-group input:focus {
  border: 2px solid #0d3776 !important;
  outline: none;
}

.modal.active .form .form-group select {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #e5e5e5de;
}

.modal.active .form .form-group #new-status {
  width: 10em;
}

.modal.active .form .btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  gap: 5px;
}

.modal.active .form .btn-row button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
}

.modal.active .form .btn-row button.primary {
  background-color: #0d3776;
  color: #fff;
}

.modal.active .form .btn-row button.secondary {
  background-color: #eeecec;
  color: #000;
}

.modal.active .form .btn-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  gap: 5px;
}

.modal.active .form .btn-edit button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
}

.modal.active .form .btn-edit button.primary {
  background-color: #0d3776;
  color: #fff;
}

.modal.active .form .btn-edit button.secondary {
  background-color: #eeecec;
  color: #000;
}

.modal.edit .form {
  width: 20em;
  padding-top: 2em;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0d3776;
  width: 22em;
}

nav .sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  height: 100%;
  padding: 1em 0;
  position: relative;
}

nav .sidebar-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e5e5e5de;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  padding: 0 10px;
}

nav .sidebar-container .search input {
  width: 100%;
  padding: 16px 0;
  border-radius: 12px;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 0.9em;
}

nav .sidebar-container .search input::-webkit-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input:-ms-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input::-ms-input-placeholder {
  color: #0d3776;
}

nav .sidebar-container .search input::placeholder {
  color: #0d3776;
}

nav .sidebar-container .search i {
  color: #0d3776;
}

nav .sidebar-container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-top: 2em;
}

nav .sidebar-container .projects .project-list {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 0.8em;
  cursor: pointer;
}

nav .sidebar-container .projects .project-list li {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

nav .sidebar-container .projects .project-list li:hover {
  color: #bfedd9;
}

nav .sidebar-container .logo-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 3em;
}

nav .sidebar-container .logo-side img {
  height: 1.8em;
}
/*# sourceMappingURL=nav.css.map */