@import './index.scss';

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: $dark;
    width: 22em;

    .sidebar-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        padding: 1em 0;
        position: relative;

        .search {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $gray87;
            justify-content: space-between;
            border-radius: 12px;
            padding: 0 10px;

            input {
                width: 100%;
                padding: 16px 0;
                border-radius: 12px;
                border: 0;
                outline: none;
                background-color: transparent;
                font-size: 0.9em;

                &::placeholder {
                    color: $dark;
                }
            }

            i {
                color: $dark;
            }
        }

        .projects {
            display: flex;
            flex-direction: column;
            color: #fff;
            margin-top: 2em;

            .project-list {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 0.8em;
                cursor: pointer;

                li {
                    transition: ease-in-out 0.2s;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        .logo-side {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 3em;

            img {
                height: 1.8em;
            }

        }
    }
}

